*.ini
livro_texto/Kurose,_James_F.;_Ross,_Keith_W_/Kurose_menor.indb/Redes_de_Computadores_e_a_Internet_-_5ª_edição_-_Kurose.pdf
video_aulas/Redes_de_Computadores_I_Aula_01.mp4
video_aulas/Redes_de_Computadores_I_Aula_07.mp4
video_aulas/Redes_de_Computadores_I_Aula_01.webm
video_aulas/Redes_de_Computadores_I_Aula_02.webm
video_aulas/Redes_de_Computadores_I_Aula_03.webm
video_aulas/Redes_de_Computadores_I_Aula_04.webm
video_aulas/Redes_de_Computadores_I_Aula_05.webm
video_aulas/Redes_de_Computadores_I_Aula_06.webm
video_aulas/Redes_de_Computadores_I_Aula_07.webm
video_aulas/Redes_de_Computadores_I_Aula_08.webm
video_aulas/Redes_de_Computadores_I_Aula_09.webm
video_aulas/Redes_de_Computadores_I_Aula_10.webm
video_aulas/Redes_de_Computadores_I_Aula_11.mp4
video_aulas/Redes_de_Computadores_I_Aula_11.webm
video_aulas/Redes_de_Computadores_I_Aula_12.webm
video_aulas/Redes_de_Computadores_I_Aula_14.webm
